html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.vibrate {
  -webkit-animation: vibrate 5s linear infinite both;
          animation: vibrate 5s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.205);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 200%;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header li {
  display: inline;
  list-style-type: none;
  margin: 150px;
}

.header li a {
  color: white;
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
  text-shadow: 3px 3px 5px white;
}

.workspace {
  height: 4940px;
  color: white;
  background: url("https://images.wallpaperscraft.com/image/starry_sky_tree_night_sky_119989_3415x3415.jpg");
  background-size: cover;
  background-position: 50%;
}

.first-screen {
  height: 1000px;
}

.first-screen__title {
  font-size: 20vw;
  padding: 10px;
}

.first-screen__about {
  font-size: 5vw;
  padding: 10px;
}

.second-screen {
  position: relative;
  font-size: 5vw;
  height: 1000px;
}

.second-screen__text-1 {
  position: absolute;
  top: 100px;
  left: 50px;
}

.second-screen__text-2 {
  position: absolute;
  top: 300px;
  right: 50px;
}

.second-screen__picture {
  width: 300px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  top: 550px;
  left: 30%;
  background: url("/picture.png");
}

.second-screen__text-3 {
  position: absolute;
  top: 800px;
  left: 30%;
}

.second-screen__text-4 {
  position: absolute;
  top: 570px;
  left: 64%;
  font-size: 50%;
}

.third-screen {
  height: 1000px;
  position: relative;
}

.third-screen__block {
  background: rgba(121, 121, 121, 0.452);
  -webkit-box-shadow: 0px 0px 54px -7px rgba(121, 121, 121, 0.459);
          box-shadow: 0px 0px 54px -7px rgba(121, 121, 121, 0.459);
  width: 400px;
  height: 200px;
  position: absolute;
  text-align: center;
  font-size: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-screen__block-1 {
  top: 15%;
  left: 25%;
}

.third-screen__block-2 {
  top: 30%;
  right: 25%;
}

.third-screen__block-3 {
  top: 45%;
  left: 25%;
}

.third-screen__block-4 {
  top: 60%;
  right: 25%;
  -webkit-box-shadow: 0px 0px 54px -7px rgba(121, 121, 121, 0.459);
          box-shadow: 0px 0px 54px -7px rgba(121, 121, 121, 0.459);
  border: 5px dashed grey;
}

.third-screen__block-4 a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.third-screen__block-4 a:hover {
  opacity: 0.5;
}

.fourth-screen {
  font-size: 7vw;
  color: white;
  height: 1000px;
}

.marquee {
  height: 200px;
}

@-webkit-keyframes recolor {
  0% {
    text-shadow: 30px 30px 40px #f1a210;
  }
  25% {
    text-shadow: 30px 30px 40px #10f19b;
  }
  50% {
    text-shadow: 30px 30px 40px #f110de;
  }
  75% {
    text-shadow: 30px 30px 40px #109ef1;
  }
  100% {
    text-shadow: 30px 30px 40px #f1a210;
  }
}

@keyframes recolor {
  0% {
    text-shadow: 30px 30px 40px #f1a210;
  }
  25% {
    text-shadow: 30px 30px 40px #10f19b;
  }
  50% {
    text-shadow: 30px 30px 40px #f110de;
  }
  75% {
    text-shadow: 30px 30px 40px #109ef1;
  }
  100% {
    text-shadow: 30px 30px 40px #f1a210;
  }
}

.fifth-screen {
  position: relative;
  height: 800px;
  font-size: 9vw;
  color: white;
  text-align: center;
  pointer-events: initial !important;
}

.fifth-screen__text {
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-animation: 10s infinite recolor;
          animation: 10s infinite recolor;
}

.fifth-screen__links {
  position: absolute;
  margin-top: 500px;
  width: 100%;
  text-align: center;
}

.fifth-screen a {
  color: white;
  text-decoration: none;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fifth-screen .books-link:hover {
  color: #f1a210;
  text-shadow: 10px 20px 20px #f1a210;
}

.fifth-screen .films-link:hover {
  color: #10f19b;
  text-shadow: 10px 20px 20px #10f19b;
}

.fifth-screen .peoples-link:hover {
  color: #f110de;
  text-shadow: 10px 20px 20px #f110de;
}

.fifth-screen .hobbies-link:hover {
  color: #109ef1;
  text-shadow: 10px 20px 20px #109ef1;
}
/*# sourceMappingURL=style.css.map */